<html>
<head>
    <title>MiPerfil</title>
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    <h1 class="x">Informacion</h1>
   <div>
        <img class="imagenLogo" src="~/img/item-1.jpg" />
   </div>
    @RenderBody()

    <footer>
        <div class="x">
            <p>Actividad 1 - Unidad 1</p>
        </div>
    </footer>
</body>
</html>
