@model Actividad_1.Models.ViewModels.PerfilViewModel




<html>
    <head>
        <link href="~/Style.css" rel="stylesheet" />
    </head>
<body>
    <div>
        <img class="perfilFoto" src="~/img/MC.png" />

    </div>
   
    <label>Nombre de estudiante:</label>
    <label>@Model.NombreDeEstudiante</label>
    <br />
    <label>Semestre:</label>
    <label>@Model.Semestre</label>
    <br />
    <label>Numero de control:</label>
    <label>@Model.NumeroControl</label>
    <br />
    <label>Numero de celular:</label>
    <label>@Model.NumeroCelular</label>
    <br />
    
</body>
</html>
